:root{
  --background-first: #12232E;
  --background-second: #203647;
  --color: whitesmoke;
  --hover: #007CC7;
  --font-family: 'Montserrat', sans-serif;
}
[data-theme="light"]{
  --background-first: #F1D1D0;
  --background-second: white;
  --color: #333333;
  --hover: #FBACCC;
  --font-family: 'Montserrat', sans-serif;
}
html,
body,#__next {
  padding: 0;
  margin: 0;
  
    font-size: 10px;
    color: whitesmoke;
    height: 100%;
    width: 100%;
}



* {
  box-sizing: border-box;
}
